# Fetching Tweets from Dalhousie's official twitter account and other Dalhousie-related twitter accounts

In [1]:
import tweepy
import pandas as pd
from datetime import datetime
from pandas_profiling import ProfileReport

In [3]:
API_Key="crX0drgwqcy3KDlj8lfhLUbOn"
API_Secret_Key="YAfExZN1D9Fm3DeifLSupdDVlvF4VYLqF7d9HI0DhPj5NyFbeq"
Access_Token="957366389270110208-zywslCSXpqHMgKbEMxserRFWThO9NXQ"
Access_Secret="hyBTWezHj0XYXWHqiApFVAjOycO6GRPSdxtUJ3fLOhCSV"

auth = tweepy.OAuthHandler(API_Key, API_Secret_Key)
auth.set_access_token(Access_Token,Access_Secret)
api = tweepy.API(auth)

try:
    api.verify_credentials()
    print("Authentication OK")
except:
    print("Authentication Failed!")

Authentication OK

In [16]:
tweets=pd.DataFrame()

Dal_Accounts=["DalArtsCentre", "Dal_CSS", "DalIntcentre"]

# "DalhousieU", "DalStudentUnion", "DalSecurity", "DalResidence"
# "DalScience", "DalLibraries", "Dal_Alumni", "DalGazette"
# "DalStudentLife", "DalMCS", "DalhousieChem", "DalGradStudies", "_dalsha", "DalTigers"
# "workatdal", "DalMedSchool", "dalagriculture", "SchulichLaw"
# "DalManagement", "EventsAtDal", "DalPres"
# "dalplex","DalWiTS","dalcssd", "DalhousieESL"
# "DalArtsCentre", "Dal_CSS", "DalIntcentre"

for target in Dal_Accounts:
    status_vect=[]
    for status in tweepy.Cursor(api.user_timeline, id=target, tweet_mode="extended").items(3242):
        entry={'date':status.created_at.strftime("%m/%d/%Y, %H:%M:%S"),'full_text':status.full_text}
        status_vect.append(entry)
        
    tweets[target]=pd.Series(status_vect)

In [17]:
tweets

,DalArtsCentre,Dal_CSS,DalIntcentre
0,"{'date': '01/31/2020, 15:07:12', 'full_text': ...","{'date': '11/04/2019, 22:32:56', 'full_text': ...","{'date': '01/26/2020, 15:34:37', 'full_text': ..."
1,"{'date': '01/31/2020, 13:20:51', 'full_text': ...","{'date': '10/23/2018, 12:38:20', 'full_text': ...","{'date': '01/26/2020, 12:38:27', 'full_text': ..."
2,"{'date': '01/30/2020, 17:52:16', 'full_text': ...","{'date': '09/11/2018, 12:22:02', 'full_text': ...","{'date': '01/25/2020, 00:57:06', 'full_text': ..."
3,"{'date': '01/28/2020, 19:30:42', 'full_text': ...","{'date': '08/18/2018, 23:33:35', 'full_text': ...","{'date': '01/25/2020, 00:28:21', 'full_text': ..."
4,"{'date': '01/24/2020, 17:56:55', 'full_text': ...","{'date': '07/14/2018, 01:57:26', 'full_text': ...","{'date': '01/24/2020, 23:51:06', 'full_text': ..."
...,...,...,...
1542,"{'date': '08/29/2016, 17:49:18', 'full_text': ...",NaN,NaN
1543,"{'date': '08/26/2016, 18:51:23', 'full_text': ...",NaN,NaN
1544,"{'date': '08/26/2016, 12:27:04', 'full_text': ...",NaN,NaN
1545,"{'date': '08/23/2016, 13:25:26', 'full_text': ...",NaN,NaN
1546,"{'date': '08/22/2016, 13:08:21', 'full_text': ...",NaN,NaN

In [18]:
tweets.to_csv('26to28.csv')